<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Item List Example</h2>

<div *ngIf="isInitializing">
    ... Loading ...
</div>

<div *ngIf="!isInitializing">
    <h1>To Do:</h1>
    <div>
      <span>Total Cards: {{ totalCards }}</span>&nbsp;
      <span>Total Completed: {{ totalCompleted }}</span>&nbsp;
      <span>Total Removed: {{ totalRemoved }}</span>&nbsp;
    </div>
    <hr />
    <div  *ngFor="let item of dataCards">
        <app-list-item [card]="item" *ngIf="!item.remove"></app-list-item>
    </div>
    <hr />
    <button (click)="doSave()">Save</button>
    <button (click)="doReset()">Revert</button>
</div>
